.MuiTooltip-tooltip {
  font-size: 14px !important; /* Điều chỉnh kích thước chữ */
  padding: 8px 12px !important; /* Tùy chỉnh padding */
  background-color: rgba(0, 0, 0, 0.8) !important; /* Màu nền */
  color: #fff !important; /* Màu chữ */
}
